h6 {
    float: left;
}

ul {
  
  box-shadow: 0 0 5px 0 black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  top: 0;
  z-index: 1;
  padding-left: 90px;
  position: sticky;
  
}
h6{
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
li{
  padding-top: 30px;
  padding-left: 500px;
  position: relative;
}