nav{
    box-shadow: 0 0 20px 0 grey;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    top: 0;
    z-index: 1;
    padding-left: 90px;
    position: sticky;
}



h6{
  padding-left: 95px;
  padding-top: 10px;
  padding-bottom: 20px;
  float: left;
  padding-right: 75px;
}
h5{

}

li{
  padding-top: 30px;
  padding-left: 0px;
  
  position: relative;
}

.Link{
    padding-top: 20px;
}

div a{
  padding-top: 10px;
}


ul{
  padding-right: 165px;
}

button{
  font-size: 32px;
}

.btn{
  font-size: 20px;
}